* {
    margin: 0 auto;
    padding: 0 auto;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: darkgray;
}
.title{
    padding: 10px;
    margin-left: 15px;
    font-size: 40px;
}

#search{
    display: flex;
    align-items: center;
    width: 600px;
   
}

#search-input {
    flex: 5;
    padding: 10px;
    border: 2px solid black;
    font-size: 16px;
    margin-right: 35px;
}

#search-button{
    background-color: rgb(224, 208, 66);
    border: 2px solid black;
    cursor: pointer;
    width: 100px;
    padding: 5px;
}

#search-button:hover {
    background-color: #dc7129;
}

.card{
    padding: 20px;
    margin-top: 20px;
    margin-left: 100px;
    border: 2px solid black;
    width: 800px;
}

.card-like{
    background-color: rgb(93, 189, 93);
    margin-top: 15px;
    border: 2px solid black;
    cursor: pointer;
    padding: 5px;
    width: 80px;
}

.card-like:hover{
    background-color: gold;
}

.definition{
    padding: 20px;
    margin-top: 20px;
    margin-left: 100px;
    border: 2px solid black;
    width: 300px;
}